<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
<h1>Exercises</h1>
<% if (user) { %>
  <h2>Create an Exercise</h2>
  <form action="/exercises" method="POST">
    <label>
      Name:
      <input type="text" name="name" autocomplete="off">
    </label>
    <button type="submit">Add Exercise</button>
  </form>
<% } %> 
<ul>
  <% exercises.forEach(exercise => { %>
    <div class="card-container">
      <div id="exercise-card">
        <p>
        <%= exercise.name %>
        </p>
        <a href="/exercises<%= exercise._id %>"<%= exercise.name %>>
        <button type="submit">Add to Profile</button>
        </a>
      </div>
    </div>
  <% }) %> 
</ul>














</section>
<%- include('../partials/footer') %>