<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1><%= exercise.name %></h1>
  <h3><%= exercise.description %></h3>
</section>











<%- include('../partials/footer') %>