<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section id="post-page">
<h1>aiiight List whatchu got !</h1>
<% if (user) { %>
  <h2>Create a "Post"</h2>
  <form id="post-input" action="/posts" method="POST">
    <label>
      Name:
      <input class="post-input" type="text" name="name" autocomplete="off">
    </label><br>
    <label>
      Price:
      <input class="post-input" type="text" name="price" autocomplete="off">
    </label><br>
    <label>
      Description:
      <input class="post-input" type="text" name="description" autocomplete="off">
    </label>
    <button type="submit">Add yo "Post"</button>
  </form>
<% } %> 
<h2>The "Posts"</h2>
<ul>
  <% posts.forEach(post => { %>
    <li>
      <a href="/posts/<%= post._id %>">
        <%= post.name %>
      </a>
      $<%= post.price %>
      <p><%= post.description %></p>
    </li>
  <% }) %> 
</ul>
</section>

<%- include('../partials/footer') %>














</section>
<%- include('../partials/footer') %>