<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section>
   <p>From <%= post.owner.name %></p>
   <h1><%= post.name %></h1>
   <h3><%= post.price %></h3>
   <p><%= post.description %></p>
   <% if (post.owner.equals(user?.profile.id)) { %>
    <form action="/posts/<%= post._id %>/edit" method="GET">
      <button type="submit">Edit this Post</button>
    </form>
   <% } %>    
  </section>
</main>











<%- include('../partials/footer') %>