<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section>
  <p>From <%= post.owner.name %></p>
  <h1><%= post.name %></h1>
  <h3><%= post.price %></h3>
  <p><%= post.description %></p>
  <% if (post.owner.equals(user?.profile.id)) { %>
    <form action="/posts/<%= post._id %>/edit" method="GET">
      <button type="submit">Edit this Post</button>
    </form>
    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete yoo Post</button>
    </form>
  <% } %>    
  </section>
  <h2>Potential Buyers</h2>
  <form action="/posts/<%= post._id %>/comments" method="POST">

    <label>Comment:</label>
    <textarea name="content"></textarea>
    <button type="submit">Add your Comment</button>
  </form>
  <% post.comments.forEach(comment => { %>
    <%= comment.content %>
  <% }) %> 
</main>











<%- include('../partials/footer') %>